[Unit]
Description=Solr Service
Documentation=https://lucene.apache.org/solr/guide/8_6/index.html
Requires=zk1.service
After=zk1.service

[Service]    
Type=forking
WorkingDirectory={{ solr_root }}
User={{ solr_service_user }}
Group={{ solr_service_user }}
ExecStart={{ solr_root }}/bin/solr start -cloud -s {{ solr_root }}/home/node{{ item }} -h {{ solr_dns_name }} -p {{ 8982 + item }} -z localhost:2181,localhost:2182,localhost:2183
ExecStop={{ solr_root }}/bin/solr stop -p {{ 8982 + item }}
ExecReload={{ solr_root }}/bin/solr restart  -p {{ 8982 + item }}
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target